<center><div class="form">
<br> 
</br>
<br> 
</br>
  <h2>Create A New Auction</h2>
  <br></br>
  <form action="/auctions" method="post">
    <div class="form-group">

      <input type="text" class="form-control" name="title" required placeholder="Auction Title"><br>
      <br></br>
      <label>Start Date</label>
      <input type="date" class="form-control" name="start_date" required><br>
      <br></br>
      <label>End Date</label>
      <input type="date" class="form-control" name="end_date" required><br>
      <br></br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>