<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Guitar Gallery</title>

  </head>
  <body>

    <header>
    <center>
      <h1>The Guitar Gallery</h1>
      <h3>Online Auction & Database For Rare Guitars</h3>

       <a href="/auctions">All Auctions</a>
       <a href="/auctions/new">Add Auction</a>
       <a href="/guitars">All Guitars</a>
       <a href="/guitars/new">Add Guitar</a>
     
        <% if logged_in? %>
        <a href="/users/<%=current_user.id%>">Account</a>
        <a href="/logout">Logout</a>
        <% else %>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <% end %>
     
    </header>
    <%= yield %>
  </body>
</html>